img.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img.img-rounded {
  border: 4px solid transparent;
  border-radius: 6px;
}

img.img-circle {
  border-radius: 50%;
}

img.img-left {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

img.img-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

img.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
