// Base font
$basefont-family: "Arial", sans-serif;
$basefont-size: 16px;
$basefont-style: normal;

// Base Colors
$basecolor-text: #222;
$basecolor-background: invert($basecolor-text);

// Grid
$cols: 12;