// Base font
$basefont-family: "Arial", sans-serif;
$basefont-size:                  16px;

// Base Colors
$basecolor-text:                       #111111;
$basecolor-background: invert($basecolor-text);

// Grid
$cols: 12;
$width-sm:  768px;
$width-md:  992px;
$width-lg: 1170px;

// Code
$code-background: darken($basecolor-background, 15);
$code-text:             lighten($basecolor-text, 5);
$code-inline-text:                          #bb3434;


// Colors
$color-primary:           #333333;
$color-secondary:         #dddddd;
$color-info:              #0093ff;
$color-info-secondary:    #acdcff;
$color-success:           #05b212;
$color-success-secondary: #62e66c;
$color-warning:           #ffbb33;
$color-warning-secondary: #ffe763;
$color-danger:            #db0000;
$color-danger-secondary:  #ff9a9a;
